<h1>Listing advisors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>University</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @advisors.each do |advisor| %>
  <tr>
    <td><%= advisor.name %></td>
    <td><%= advisor.email %></td>
    <td><%= advisor.university %></td>
    <td><%= link_to 'Show', advisor %></td>
    <td><%= link_to 'Edit', edit_advisor_path(advisor) %></td>
    <td><%= link_to 'Destroy', advisor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Advisor', new_advisor_path %>
